:host{
    width: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: flex-start;
}

.link{
    min-width: 50px;
    min-height: 50px;
    cursor: pointer;
    border-radius: 4px;

    &.active,&:hover{
        color: orange;
    }
    &:hover{
        background-color: rgb(175, 175, 175,20%);
    }
}