:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  position: relative;

}

.graphs-area {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1000px;
  justify-content: center;
  row-gap: 100px;
  overflow-y: scroll;
  margin-bottom: 25px;
}

.graphs {
  display: flex;
  align-items: center;
  justify-content: center;

  &-display-none {
    display: none;
  }
}


.spinner {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .mat-spinner {
    margin-top: 100px;
    color: #FF9416;
  }
}
