
:host {
  width: 70%;
}

.container {
  padding: 20px 40px;
}

.expand {
  width: 50px;
}

.table-header {
  display: flex;
  gap: 40px;
  align-items: center;
}

.btn-update {
  font-weight: 700;
  font-size: 16px;
  margin-top: -20px;
}

.expand-btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
}

.open-graph {
  float: right;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
}
